/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/***** reset CSS start *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***** reset CSS end *****/


/***** global CSS start *****/
*{
	box-sizing: border-box;
	font-family: 'PT Sans', sans-serif;
}
body {
	line-height: 1;
	min-height: 100vh;
	background-color: thistle;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrapper{
  width: 400px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
/***** global CSS end *****/


/***** general CSS start *****/
.wrapper .input-part{
	display: flex;
	flex-direction: column;
  margin: 20px 25px 30px;
}
.wrapper.active .input-part{
  display: none;
}

.wrapper header{
  font-size: 30px;
  font-weight: 500;
  color: #43AFFC;
  padding: 10px 15px;
}
header i{
  font-size: 0em;
  cursor: pointer;
}
.wrapper.active header i{
  font-size: 30px;
}

.input-part input{
	width: 100%;
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
	font-size: 20px;
	margin-bottom: 20px;
}
.input-part input:focus{
	outline-color: thistle;
}

.input-part button{
	width: 100px;
	margin: 0 auto;
	padding: 5px;
	background-color: #43AFFC;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}


.wrapper .weather-part{
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper.active .weather-part{
  display: flex;
}
.weather-part .location{
  display: flex;
  font-size: 22px;
	font-weight: 700;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.location i{
	color: #0095ff;
  font-size: 30px;
  margin: -5px 5px 0 0;
}

.weather-part .bottom-details{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column{
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
.column i{
  color: #5DBBFF;
  font-size: 45px;
}
.column.humidity{
  border-left: 1px solid #ccc;
}
.column .details{
  margin-left: 3px;
}
.details span{
  font-size: 20px;
  font-weight: 700;
  margin-top: -3px;
}
.details .temp .deg{
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p{
  font-size: 16px;
  margin-top: 3px;
}
/***** general CSS end *****/